################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Capstone.web.api/.vs
/.vs
/Capstone.web.api/Capstone.web.api/bin/Debug/net8.0
/Capstone.web.api/Capstone.web.api/obj
